#name {
  font-size:2em;
  color: #92CD68;
}

bossy{
  background-color:#CB7280;
}

#buttons{
  float:right;
}



.navbar{
  color:#92CD68;
}


.panel-heading{
  background-color:#CB1936;
}

ul{
  background-color:#CB7280;
}

.panel-title{
  background-color:#198FCB;
}
