#name {
  font-size:2em;
  color: #92CD68;
}

bossy{
  background-color:#CB7280;
}

#buttons{
  float:right;
}



.navbar{
  color:#92CD68;
}


.panel-heading{
  background-color:#white ;
}

ul{
  background-color:#CB7280;
}

.panel-title{
  background-color:#red;
}

.jumbotron {
  background-color:#CB7280;
  color:white;
}
#projects-header{
  color:#0D4766;
}

.darkblue{
  background-color:
  font-family: cursive;
  color:white;
}

class="darkblue"
class="darkblue"
