#name {
  font-size:2em;
  color: #92CD68;
}

bossy{
  background-color:#CB7280;
}

#buttons{
  float:right;
}


.navbar{
  color:#92CD68;
}


.panel-body{
  padding:1em;
  padding-top:0em;
}
.panel-heading{
  background-color:#white ;
}

.pinktext{
  color:#CB1936;
}
.pink{
  background-color:#CB7280;
  padding:3em;
  border:solid;
  border-width:1em;
  text-align:center;
  border-color:#0D4766 #198FCB #CB1936 #660d1B ;
}
.white{
  background-color:#white;
}

.panel-title{
  background-color:#red;
}

.jumbotron {
  background-color:#CB7280;
  color:white;
}
#projects-header{
  color:#0D4766;
}

.darkblue{
  background-color:
  font-family: cursive;
  color:red;
}


#projects-display{
  border:solid;
  border-width:1em;
  text-align:center;
  border-color:#0D4766 #198FCB #CB1936 #660d1B ;
}
#long-break {
  display: block;
  content: "";
  margin-top: 80em;
}
#medium-break {
  display: block;
  content: "";
  margin-top: 50em;
}
class="darkblue"
class="darkblue"
